﻿@model IEnumerable<WebApplication1.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="spinner"><img src="~/Content/spinner.gif" height="25" /></div>
<table class="table">
    <tr>
        <th>
            Task Name
        </th>
        <th>
            Task Description
        </th>
        <th>
            Task Completed
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                <input type="checkbox" checked="@item.IsTaskCompleted" onclick='UpdateStatus("@item.TaskId",this)' />


            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TaskId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
            </td>
        </tr>
    }

</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>


    $(document).ready(function () {
        $("#spinner").hide();


        UpdateStatus = function (id, chkbox) {
            //alert(chkbox.checked);
            $("#spinner").show();
            $.ajax({
                url: '@Url.Action("Edit")',
                data: { 'id': id, 'status': chkbox.checked },
                type: "GET",
                success: function (savingStatus) {
                    $("#spinner").hide();
                    alert("Updated Status");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr + "\n" + ajaxOptions + "\n" + thrownError);
                    alert("Trouble updating the Api");
                }
            });

        }



    });//ready
</script>